<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div ng-app="marianaApp" ng-controller="loginCtrl">
    <div class="page">
        <nav class="page__menu menu">
            <ul class="menu__list r-list">
                <li class="menu__group"><a href="index.html" class="menu__link r-link text-underlined">Home</a></li>
                <li class="menu__group"><a href="cart.html" class="menu__link r-link text-underlined">Cart: {{ cartItems }}</a></li>
                <li class="menu__group"><!-- directive: log-in-link --></li>
                <li class="menu__group"><div class="sign-up-link"></div></li>
            </ul>
        </nav>
    </div>


    <div id="main-container">
        <div class="vh-100 d-flex justify-content-center align-items-center ">
            <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
                <login></login>
                <form ng-submit="submitLogin()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" ng-model="email" class="form-control border border-primary" id="exampleInputEmail1" aria-describedby="emailHelp"><br/>
                        <span ng-show="errorEmail" class="error">{{ errorEmail }}</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" ng-model="password" class="form-control border border-primary" id="exampleInputPassword1"><br/>
                        <span ng-show="errorPassword" class="error">{{ errorPassword }}</span>
                    </div>
                    <div class="d-grid">
                        <div login-button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
    angular.module('marianaApp', []).controller('loginCtrl', function ($scope) {
        $scope.cartItems = JSON.parse(localStorage.getItem('cart') || '[]')?.length;
        $scope.errorEmail = null;
        $scope.errorPassword = null;
        $scope.hasError = false;

        $scope.submitLogin = function(){
            $scope.errorEmail = null;
            $scope.errorPassword = null;
            $scope.hasError = false;

            if(!$scope.email){
                $scope.errorEmail = 'Email is required';

                $scope.hasError = true;
            }

            if(!$scope.password){
                $scope.errorPassword = 'Password is required';

                $scope.hasError = true;
            }

            if($scope.hasError){
                return false;
            }

            alert("Logged in!");
        }
    })
    .directive("login", function() {
        return {
            template : "<h1>Login</h1>"
        };
    })
    .directive("loginButton", function() {
        return {
            template : "<button class=\"btn btn-primary\" type=\"submit\">Login</button>"
        };
    })
    .directive("signUpLink", function() {
        return {
            restrict : "C",
            template : "<a href=\"register.html\" class=\"menu__link r-link text-underlined\">Sign Up</a>"
        };
    })
    .directive("logInLink", function() {
        return {
            restrict : "M",
            replace : true,
            template : "<a href=\"login.html\" class=\"menu__link r-link text-underlined\">Log In</a>"
        };
    });
</script>
</body>
</html>